body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.textLogo:hover{
    transform: scale(1.09);
    transition: all 0.5s;
    color: red; 
}

.logo{
    margin-left: 2px
}

.logo:hover{
    transform: rotate(120deg);
}

header{
    padding: 8px 0;
    background-color: black;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px
}

nav{
    background-color: #F50000;
    margin-bottom: 20px
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;

}

a{
    text-decoration: none;
}

nav ul li a:hover{
    background-color: rgb(0, 0, 0, 0.3);
}


nav ul li a.activo{
    background-color: #b30000;
}

footer {
    background-color: #000;
    width: 100%;
    height: 21px;
    margin-top: auto;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
}

.textoFooter{
    font-size: 12px;
    color: #fff;
    margin-top: 1px
}

.holder{
    max-width: 960px;
    margin: 0 auto;

}

.t-center{
    text-align: center;
}

.bienvenidos{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.redFilms:hover{
    transform: scale(1.15);
    transition: all 0.5s; 
}

.testimonios{
    width: 25%;
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.bienvenidos p{
    font-size: 20px;
}

.testimonio{
    padding: 16px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 12px 0;
}

.imgCinta{
    width: 35%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.imgCinta:hover{
    transform: scale(1.15);
    transition: all 0.6s; 
    transform: rotate(160deg);
}

.imgHome{
    width: 87%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.imgHome:hover{
    transform: scale(1.05);
    transition: all 0.5s; 
}

.textoEncuesta{
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textoEncuesta:hover{
    color:red;
    transform: scale(1.15);
    transition: all 0.5s; 
}